.header {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-bottom: 3px solid rgba(196, 196, 196, 0.01);
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

.header__project-name {
    font-family: 'Roboto Slab';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    cursor: pointer;
}

.header_logeddin {
    color: black;
}

.header_saved-news-style {
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #D1D2D6;
}